// Font

$font-url: './assets/fonts/';

@font-face {
  font-family: 'OpenSans';
  src: url('#{$font-url}OpenSans-Regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('#{$font-url}OpenSans-Bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@mixin primary-font-regular {
  font-family: 'OpenSans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin primary-font-bold {
  font-family: 'OpenSans', sans-serif;
  font-style: normal;
  font-weight: 700;
}


// Resets

@mixin reset-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin reset-a {
    text-decoration: none;
}
