$primary-color: #00E858;
$secondary-color: #191919;
$tertiary-color: #262626;


//$text-color: rgba(204,204,204,1);
//$text-color-hover: rgba(204,204,204,0.8);
//$text-color-active: rgba(204,204,204,0.4);
