// Import Presets
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

nav {
    background-color: $primary-color;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

ul {
    @include reset-ul;
}
