<p>
  border-radius generator!
</p>

<input type="text" [ngModel]="topLeftRadius" (ngModelChange)="topLeftRadius = $event">
<input type="text" [ngModel]="topRightRadius" (ngModelChange)="topRightRadius = $event">
<input type="text" [ngModel]="bottomLeftRadius" (ngModelChange)="bottomLeftRadius = $event">
<input type="text" [ngModel]="bottomRightRadius" (ngModelChange)="bottomRightRadius = $event">

<div>
  border-radius: {{topLeftRadius}} {{topRightRadius}} {{bottomLeftRadius}} {{bottomRightRadius}};
</div>

<div class="example" [ngStyle]="{'border-top-left-radius': topLeftRadius, 'border-top-right-radius': topRightRadius, 'border-bottom-left-radius': bottomLeftRadius, 'border-bottom-right-radius': bottomRightRadius}"></div>
