<div class="row">
    <div class="small-12 medium-6 large-4 columns">
        <div class="input">
            <input type="text" [ngModel]="topLeftRadius" (ngModelChange)="topLeftRadius = $event">
            <input type="text" [ngModel]="topRightRadius" (ngModelChange)="topRightRadius = $event">
            <input type="text" [ngModel]="bottomLeftRadius" (ngModelChange)="bottomLeftRadius = $event">
            <input type="text" [ngModel]="bottomRightRadius" (ngModelChange)="bottomRightRadius = $event">
        </div>
    </div>
    <div class="small-12 medium-6 large-4 columns">
        <div class="output">
            <code>
                border-radius: {{topLeftRadius}} {{topRightRadius}} {{bottomLeftRadius}} {{bottomRightRadius}};
            </code>
        </div>
    </div>
    <div class="small-12 large-4 columns">
        <div class="preview">
            <div class="example"
                 [ngStyle]="{'border-top-left-radius': topLeftRadius, 'border-top-right-radius': topRightRadius, 'border-bottom-left-radius': bottomLeftRadius, 'border-bottom-right-radius': bottomRightRadius}"></div>
        </div>
    </div>
</div>
