// Import Presets
@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.top-bar {
    background-color: $secondary-color;
    height: 60px;
    display: flex;
    align-items: center;
}

.logo {
    @include primary-font-bold;
    color: #ffffff;
    font-size: 30px;
    margin: 0 20px;
}

ul {
    @include reset-ul;
}

li {
    display: inline-block;
}

a {
    @include reset-a;
    color: rgba(204,204,204,0.4);
    font-size: 14px;
    padding: 20px;
    transition: color 0.2s linear;

    &:hover {
        color: rgba(204,204,204,0.8);
    }

    &.is-active {
        color: rgba(204,204,204,1);
    }
}
